.suggestion{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.suggestion-image{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

li{
    list-style: none;
}

:any-link {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #606060;
    padding: 10px;
}

.search-input {
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-input-dropdown {
    position: absolute;
    top: 55px;
    left:16.7%;
    background-color: rgb(77, 75, 75);
    border: 1px solid #ccc;
    border-top: none;
    width: 50%;
    max-height: 40%;
    overflow-y: auto;
}

.game_info_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 100px;
    background-color: #b6b6b6;
    padding: 20px;
    border-radius: 10px;
}

.game_cover {
    display: flex;
    margin: auto;
    align-items: center;
    width: 30%;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden; 
   
}

.game_cover_img {
    object-fit: cover;
    max-width: fit-content;
    max-height: fit-content;
}

.game_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1%;
    max-width: 70%;
}

.game_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.game_devs_pub{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.game_time_to_beat{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.game_critic_stuff{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}