.suggestion{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.suggestion-image{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

li{
    list-style: none;
}